.one {
    border-bottom: 2px solid red;
    color: red;
}

.two {
    border-bottom: 2px solid green;
    color: green;
}

.three {
    border-bottom: 2px solid blue;
    color: blue;
}

.four {
    border-bottom: 2px solid black;
    color: black;
}

.one,
.two,
.three,
.four {
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
}