.section-1 {
    /* background-color: aqua; */
    /* background-color: rgb(100, 50, 100); */
    /* background-color: #FF0000; */
    background-image: url("../images/test.jpeg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: 50% 50%; */
    background-size: cover;
}